html,
body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

:where(a),
:where(button) {
  color: inherit;
  
  &:focus-visible {
    outline: 2px solid dodgerblue;
    outline-offset: units(0.5);
    border-radius: units(0.1);
  }
}

:where(ul),
:where(ol) {
  list-style: none;
}

:where(button) {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

:where(img) {
  user-select: none;
}

